<!-- Navegacion -->


<nav class="navbar nav-pills navbar-expand-md navbar-light  sticky-top" style="background-color: #ffffff;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="assets/images/Logo Patelecom.png" class="logo">
    <img src="assets/images/Logo Johus.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
     <ul class="navbar-nav ml-auto"> 
        <li class="nav-item active">
          <a class="nav-link" href="#/Principal/Inicio" ><b><h5 class="menu">Inicio</h5></b></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#/Principal/AcercaNosotros"> <h5 class="menu">Quienes Somos </h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/Principal/Login"> <h5 class="menu">Iniciar Sesion</h5></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#/Principal/Contactos"> <h5 class="menu">Contactenos </h5></a>
        </li>
         
       <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle activado"  ngbDropdownToggle><h5 class="menu dropdown">Otros</h5></a>
        <div class="dropdown-menu"  ngbDropdownMenu>
          <a class="dropdown-item activado" href="#/Principal/Productos"><h6 class="menu">Otros Productos</h6></a>
          <a class="dropdown-item" href="#/Principal/Servicios"><h6 class="menu">Otros Servicios</h6></a>
        </div>
      </li>
    
        <li class="nav-item">
          <a href="#/Principal/Demo/dashboard"><button type="button" class="btn btn-success btn-md animado"> <font color="white"><b>Probar DEMO</b></font>
        </button></a>
        </li>
        
        
      </ul>
    </div>
  </div>
</nav>
<hr>


 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5">-HOSTING-<br>Planes de alojamiento web </h1>
  </div>
<div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Diseño Basico</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Bs. 700 </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>5 Páginas + 1 Logo</li>
              <li>1 Slideshow</li>
              <li>5 Gigas de almacenamiento</li>
              <li>Sitio autoadministrable</li>
              <li>Entrega 5 dias</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Adquirir</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Diseño Profesional</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Bs. 1500 </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>5-10 Páginas + 1 Logo</li>
              <li>1 Slideshow</li>
              <li>20 correos</li>
              <li>20 Gigas de almacenamiento</li>
              <li>Sitio Autoadministrable</li>
              <li>Entrega 9 dias</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Adquirir</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Diseño Corporativo</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Bs. 2300</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10-20 Páginas + 1 Logo</li>
              <li>1 Slideshow</li>
              <li>Correos ilimitados</li>
              <li>50 Gigas de almacenamiento</li>
              <li>Sitio autoadministrable</li>
              <li>Entrega 15 dias</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Adquirir</button>
          </div>
        </div>
      </div>
</div>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Software</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="mb-3 shadow-sm">
          <div class="tarjeta-wrap">
            <div class="tarjeta">
              <div class="adelante">
              <img class="img-tarjeta" src="assets/images/producto1.jpg">
              <figcaption>Sistema de Fichaje</figcaption>
              </div>
              <div class="atras">
                <h6>Este sistema ayuda a la gestion de espera que emite tickets. Consta de una patalla tactil para desplegar la interfaz. para que el usuario pueda aguardar comodamente en la sala de espera.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-3 shadow-sm">
          <div class="tarjeta-wrap">
            <div class="tarjeta">
              <div class="adelante">
              <img class="img-tarjeta" src="assets/images/producto2.jpg">
              <figcaption>Totems informativos</figcaption>
              </div>
              <div class="atras">
                <h6>Es un sistema de avisos mediante software y hardware para informar sobre los médicos de turno, médicos que no atenderan e infinidad de información que se puede colocar.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-4 shadow-sm">
          <div class="tarjeta-wrap">
            <div class="tarjeta">
              <div class="adelante">
              <img class="img-tarjeta" src="assets/images/producto3.jpg">
              <figcaption>Menu digital</figcaption>
              </div>
              <div class="atras">
                <h6>Es un sistema de menu digital para restaurantes, es muy adapatable y atractivo, de facil manejo, es adaptable a cualquier negocio.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-4 shadow-sm">
          <div class="tarjeta-wrap">
            <div class="tarjeta">
              <div class="adelante">
              <img class="img-tarjeta" src="assets/images/producto4.jpg">
              <figcaption>Sistema Hidroponico Automatizado</figcaption>
              </div>
              <div class="atras">
                <h6>Los cultivos hidropónicos o hidroponía son plantaciones basadas en un método que prescinde de la tierra para sustituirla por sustratos varios o, sin más, por ninguno de ellos
                  <hr>
                  <a href="#/Principal/Demo/dashboard">
                    <button type="button" class="btn btn-primary btn-md"> 
                      <font color="white"><b>Probar DEMO</b></font>
                    </button>
                  </a>
                </h6>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div> 
</div>



      <!-- FOOTER -->
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small style="float:right;"><h6>Desarrollado por: <a href="https://www.facebook.com/nelsonrichardc" target="_blank">RichardSon</a></h6></small>
            <small class="d-block mb-3 text-muted"><h5>Patelecom S.R.L.<br>&copy; 2017-2018
              <br>Todos los derechos reservados</h5></small>
          </div>
        </div>
      </footer>
    