@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}

.centrar {
  position: absolute;
  top: 50%;
  left: 50%;
  //width: 400px;
  margin-left: -200px;
  //height: 300px;
  margin-top: -150px;
  //border: 1px solid #808080;
  //padding: 5px;
}


