<!-- Navegacion -->


<nav class="navbar nav-pills navbar-expand-md navbar-light  sticky-top" style="background-color: #ffffff;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="assets/images/Logo Patelecom.png" class="logo">
     <img src="assets/images/Logo Johus.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto"> 
        <li class="nav-item active">
          <a class="nav-link activado" href="#/Principal/Inicio" ><b><h4 class="menu">Inicio</h4></b></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#/Principal/AcercaNosotros"> <h5 class="menu">Quienes Somos </h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/Principal/Login"> <h5 class="menu">Iniciar Sesion</h5></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#/Principal/Contactos"> <h5 class="menu">Contactenos </h5></a>
        </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle"  ngbDropdownToggle><h5 class="menu dropdown">Otros</h5></a>
        <div class="dropdown-menu"  ngbDropdownMenu>
          <a class="dropdown-item" href="#/Principal/Productos"><h6 class="menu">Otros Productos</h6></a>
          <a class="dropdown-item" href="#/Principal/Servicios"><h6 class="menu">Otros Servicios</h6></a>
        </div>
      </li>
    
        <li class="nav-item">
          <a href="#/Principal/Demo/dashboard"><button type="button" class="btn btn-success btn-md animado"> <font color="white"><b>Probar DEMO</b></font>
        </button></a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<hr>

  <!-- Slider de Imagenes -->
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/images/Slide/Slide1.jpg" height="400px" width="100%" >
      <div class="carousel-caption">
        <h1 class="display-2"><font color="white">Unete a la Hidroponia</font></h1>
        <h3><font color="white"><b>Agricultura del futuro</b></font></h3>
        <a href="#/Principal/Demo/dashboard"><button type="button" class="btn btn-outline-success btn-md"> <font color="white"><b>Probar DEMO</b></font>
        </button></a>
  
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/Slide/slide2.png"  height="400px" width="100%">
      <div class="carousel-caption">
        <h1 class="display-2"><font color="white">Comunidad Hidroponica</font></h1>
        <h3><font color="white"><b>Forma parte de este emprendimiento</b></font></h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/Slide/Slide3.jpg" height="400px" width="100%">
      <div class="carousel-caption">
        <h1 class="display-2"><font color="white">Agricultura del Futuro</font></h1>
        <h3><font color="white"><b>Incrementa tu produccion</b></font></h3>
      </div>
    </ng-template>
  </ngb-carousel>
<br/>
  
 <hr>
  <!-- Seccion de Bienvenida -->
<div class="container-fluid">
  <div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4"> Bienvenido a la Innovacion</h1>
    </div>
  </div>
  <div class="col-12">
      
  </div>
</div>
<div class="col-md-12">
  <div class="row">
  <div class="col-md-8">
    <br>
     <h3><strong>¿ Que es la Hidroponia ?</strong></h3>
  <p class="lead" style="text-align: justify;"> La palabra “hidroponía” se compone por “hidro” y “ponía”, lo cual significa “agua” y “labor” o “trabajo”. En la hidroponía, el agua y una solución de nutrientes realizan todo el trabajo para hacer que la planta crezca…¡no hay tierra! La imagen de la derecha es un ejemplo de uno de los tipos más básicos de sistemas hidropónicos, una instalación de riego pasivo.
<br>
A menudo la hidroponía se define como “el cultivo de plantas en agua.” Sin embargo, la hidroponía es una técnica para cultivar plantas sin usar tierra. Al utilizar esta tecnología, las raíces absorben una solución balanceada de nutrientes disuelta en agua que cumple con todos los requisitos necesarios para el desarrollo de las plantas.
  </p>
  </div>
  <div class="col-md-4"> 
    <img src="assets/images/main1.jpg" class="imagen" width="300px">
    
  </div>
</div>
<div class="row">
    
    <div class="col-md-12">
      <br>
    <h3><strong>¿De qué están hechas las plantas?</strong></h3>
    <p class="lead" style="text-align: justify;">Si deseamos comprender cómo alimentar y cuidar nuestras plantas, debemos saber de qué están hechas. Todos los seres vivos están hechos de materia orgánica. La matera orgánica debe estar hecha de los siguientes elementos:
      </p>
       <ul class="lead" style="text-align: justify; ">
       <li><span style="font-size: 12pt;"></span>Nitrogeno
       </li>
      </ul>

      <ul class="lead" style="text-align: justify;">
       <li><span style="font-size: 12pt;"></span>Oxigeno
       </li>
      </ul>

      <ul class="lead" style="text-align: justify;">
       <li><span style="font-size: 12pt;"></span>Hidrogeno
      </ul>

      <ul class="lead" style="text-align: justify;">
       <li><span style="font-size: 12pt;"></span>Carbono
       </li>
      </ul>
       <p class="lead" style="text-align: justify;">Estos cuatro elementos representan más del 90% del peso de una planta y tienen diferentes roles en el funcionamiento de los distintos sistemas de una planta.
      </p>
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-12">
      <br>
    <h3><strong>¿Qué necesitan las plantas para crecer?</strong></h3>
    <p class="lead" style="text-align: justify;">Ahora que sabemos de qué están hechas las plantas, necesitamos saber qué necesitan del medio ambiente para poder desarrollarse. Las cinco claves para el crecimiento de una planta son :<b>luz, dióxido de carbono, oxígeno, agua y nutrientes.</b>
      </p>
      <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <span align="left"><h5> Luz</h5></span>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p class="lead" style="text-align: justify;">Las plantas necesitan luz para poder realizar el proceso de la fotosíntesis. Dicho en forma sencilla, la fotosíntesis crea glucosa, la cual es un azúcar que proporciona energía para los procesos vitales de una planta.
      </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span align="left"><h5> Dioxido de Carbono</h5></span>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
       <p class="lead" style="text-align: justify;">Las plantas necesitan luz para poder realizar el proceso de la fotosíntesis. Dicho en forma sencilla, la fotosíntesis crea glucosa, la cual es un azúcar que proporciona energía para los procesos vitales de una planta.
      </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         <span align="left"><h5> Oxígeno</h5></span>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <p class="lead" style="text-align: justify;">Las plantas necesitan oxígeno como parte del proceso respiratorio. Durante la fotosíntesis lo exhalan como un producto de desecho. Afortunadamente para nosotros, su producto de desecho es lo que los humanos necesitamos para respirar.
      </p>
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <span align="left"><h5> Agua</h5></span>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <p class="lead" style="text-align: justify;">En una planta el agua es necesaria para muchas reacciones bioquímicas diferentes, así como también es un solvente para reacciones adicionales. También ayuda a mantener rígida una planta – sin ella, las plantas se marchitan. Finalmente, actúa como un medio de transporte para los nutrientes.
      </p>
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
      <span align="left"><h5> Nutrientes</h5></span>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <p class="lead" style="text-align: justify;">Los diferentes elementos que las plantas usan como nutrientes son importantes porque son los elementos que componen una planta. Son utilizados en todas las reacciones bioquímicas.
      </p>
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
         <span align="left"><h5> Macronutrientes</h5></span>
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <p class="lead" style="text-align: justify;">Los elementos más esenciales son Nitrógeno, Fósforo y Potasio. Son conocidos como macronutrientes porque son absorbidos en las mayores cantidades y son los más importantes para que la planta sobreviva.
      </p>
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
         <span align="left"><h5> Micronutrientes</h5></span>
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <p class="lead" style="text-align: justify;">Además de estos macronutrientes, las plantas necesitan cantidades más pequeñas de otros elementos. Estos son conocidos como micronutrientes. Incluyen: Boro, Calcio, Cobre, Hierro, Magnesio, Manganeso, Molibdeno, Azufre y Zinc.
      </p>
      </div>
    </div>
  </div>
</div>
       
    </div>
  </div>

<div class="row">
    
    <div class="col-md-12">
      <br>
    <h3><strong>Por qué es necesario saber todas estas cosas</strong></h3>
    <p class="lead" style="text-align: justify;"> Cuando uno empieza a construir sus propios sistemas hidropónicos, está creando un nuevo ambiente para que vivan sus plantas. Sin el conocimiento de lo que una planta necesita para sobrevivir, sería difícil cultivar plantas fuertes y saludables. También sería más difícil resolver los problemas que surgen en un sistema hidropónico casero.<br>
      Es importante conocer todas las diferentes variables que intervienen en un sistema. De esta forma, se puede encontrar la forma para optimizarlas y hacer que todo funcione en armonía. Un sistema bien diseñado definitivamente es algo lindo de ver…¡todo funciona automáticamente, creando una utopía para tus plantas!<br>
      Un sistema mal diseñado es una atrocidad. ¿Muy poca luz? ¿Falta de riego? ¿Mezcla errónea de nutrientes? Cualquiera de estas podría ser la causa para que tus plantas crezcan poco y obtengas una cosecha deslucida.
      </p>
       
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-12">
      <br>
    <h3><strong>Ventajas de la Hidroponia</strong></h3>
    <p class="lead" style="text-align: justify;"> La hidroponía se ha desarrollado intensamente en todo el mundo en las últimas décadas y hoy se utiliza mucho en la agricultura extensiva. Gracias a esos desarrollos, existen muchas herramientas y conocimiento para disfrutar de la hidroponía en casa. Las mayores ventajas de la hidroponía son:
      </p>
       <ul class="lead" style="text-align: justify; ">
       <li><span style="font-size: 12pt;"></span>Como las raíces reciben el alimento óptimo, no necesitan crecer en busca de agua. Por lo tanto la planta necesita menos espacio para su cultivo. El resultado: más plantas en menos espacio.
       </li>
      </ul>

      <ul class="lead" style="text-align: justify;">
       <li><span style="font-size: 12pt;"></span>Al no utilizar tierra, se puede reducir el peso del conjunto. Esto es ideal para estructuras verticales
       </li>
      </ul>

      <ul class="lead" style="text-align: justify;">
       <li><span style="font-size: 12pt;"></span>Al no utilizar tierra, se desprende menos partículas de arena, con lo que es un sistema más limpio.
       </li>
      </ul>

      <ul class="lead" style="text-align: justify;">
       <li><span style="font-size: 12pt;"></span>En hidroponía, el agua con nutrientes se puede reutilizar. Así se puede conseguir un ahorro en agua y nutrientes de hasta el 50% en comparación con el riego convencional.
       </li>
      </ul>

      <ul class="lead" style="text-align: justify;">
       <li><span style="font-size: 12pt;"></span>Al optimizar el agua, los nutrientes y el espacio, se incrementa la producción del cultivo.
       </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
       <img src="assets/images/main2.jpeg" class="imagen" width="300px">
    </div>
    <div class="col-md-8">
      <br>
      <h3><strong>¿Que es la Automatizacion?</strong></h3>
  <p class="lead" style="text-align: justify;"> La palabra automatización engloba un amplio abanico de sistemas y procesos en los cuales se requiere la mínima intervención del ser humano, además debe de ser un sistema “flexible” el cual se debe ajustar de distintas maneras a los posibles cambios en momentos puntuales.
  </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <br>
    <h3><strong>Ventajas de la automatizacion</strong></h3>
       <ul class="lead" style="text-align: justify; ">
       <li><span style="font-size: 12pt;"></span>Favorece en el ahorro de tiempo.
       </li>
      </ul>

      <ul class="lead" style="text-align: justify;">
       <li><span style="font-size: 12pt;"></span>Mejora y aumenta notablemente la producción.
       </li>
      </ul>

      <ul class="lead" style="text-align: justify;">
       <li><span style="font-size: 12pt;"></span>Permite que tareas que, por su minuciosidad o complejidad, no puedan ser desarrolladas por personas sean acometidas por máquinas.
       </li>
      </ul>

      <ul class="lead" style="text-align: justify;">
       <li><span style="font-size: 12pt;"></span>Minimiza lo que es el esfuerzo del ser humano.
       </li>
      </ul>
    </div>
    <div class="col-md-4">
     <img src="assets/images/main3.jpeg" class="imagen" width="300px">
    </div>
  </div>
    
</div>
<br><br>
 <div class="container">
  <span align="center"><h1>Hidroponia-Galeria</h1></span>
  <br>
  <div class="col-md-12">
     <div class="row">
       <div class="col-md-3">
        <img class="galery-item" src="assets/images/galery/image1.jpeg">
       </div>
       <div class="col-md-3">
        <img class="galery-item" src="assets/images/galery/image2.jpeg">
       </div>
       <div class="col-md-3">
        <img class="galery-item" src="assets/images/galery/image3.jpeg">
       </div>
       <div class="col-md-3">
        <img class="galery-item" src="assets/images/galery/image4.jpeg">
       </div>
        <div class="col-md-3">
        <img class="galery-item" src="assets/images/galery/image5.jpeg">
       </div>
       <div class="col-md-3">
        <img class="galery-item" src="assets/images/galery/image6.jpeg">
       </div>
       <div class="col-md-3">
        <img class="galery-item" src="assets/images/galery/image7.jpeg">
       </div>
       <div class="col-md-3">
        <img class="galery-item" src="assets/images/galery/image8.jpeg">
       </div>
        <div class="col-md-3">
        <img class="galery-item" src="assets/images/galery/image9.jpeg">
       </div>
       <div class="col-md-3">
        <img class="galery-item" src="assets/images/galery/image10.jpeg">
       </div>
      
     </div>
   </div>
</div>


<!-- FOOTER -->
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small style="float:right;"><h6>Desarrollado por: <a href="https://www.facebook.com/nelsonrichardc" target="_blank">RichardSon</a></h6></small>
            <small class="d-block mb-3 text-muted"><h5>Patelecom S.R.L.<br>&copy; 2017-2018
              <br>Todos los derechos reservados</h5></small>


          </div>
        </div>
      </footer>
    
   

