<span align="center"><h1>Actuadores del Invernadero</h1></span>

<div class="col-lg-12" [@fadeIn]>


<div *ngFor="let n of Controller ; let i=index" >
  <h3><b>Controlador :</b>{{Controller[i]['modeloC']}}-{{Controller[i]['marcaC']}}</h3>
          <div class="row">

            <div class="col-md-6" >
              <nb-card>
                <nb-card-header>Bombas</nb-card-header>
                <nb-card-body>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <td><h4><b>Nombre </b></h4></td>
                    <td><h4><b>Estado </b></h4></td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let n of Devices[i][0]; let j=index">

                    <td><b>{{Devices[i][0][j]['descripcionPin']}}</b></td>
                    <td *ngIf="Devices[i][0][j]['accionPin']=='1'"><h5 class="text-success">ENCENDIDO</h5> </td>
                    <td *ngIf="Devices[i][0][j]['accionPin']=='0'"><h5 class="text-danger">APAGADO</h5></td>
                  </tr>
                  </tbody>
                </table>
              </nb-card-body>
     
          </nb-card>
            </div>
          
            <div class="col-md-6">
              <nb-card >
                <nb-card-header>Ventiladores</nb-card-header>
                <nb-card-body>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <td><h4><b>Nombre </b></h4></td>
                    <td><h4><b>Estado </b></h4></td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let n of Devices[i][1]; let j=index">

                    <td><b>{{Devices[i][1][j]['descripcionPin']}}</b></td>
                    <td *ngIf="Devices[i][1][j]['accionPin']=='1'"><h5 class="text-success">ENCENDIDO</h5> </td>
                    <td *ngIf="Devices[i][1][j]['accionPin']=='0'"><h5 class="text-danger">APAGADO</h5></td>
                  </tr>
                  </tbody>
                </table>
              </nb-card-body>
              
          </nb-card>
            </div>
         
          <div class="col-md-6" >
              <nb-card>
                <nb-card-header>Ventanas</nb-card-header>
                <nb-card-body>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <td><h4><b>Nombre </b></h4></td>
                    <td><h4><b>Estado </b></h4></td>
                  </tr>
                  </thead>
                 <tbody>
                  <tr *ngFor="let n of Devices[i][2]; let j=index">
                    <td><b>{{Devices[i][2][j][0]['descripcionPin']}}</b></td>

                    <td *ngIf="Devices[i][2][j][0]['clasePin']=='2'; else elseBlock">
                      <!-- CON FINALES DE CARRERA -->
                      <h5 class="text-success" *ngIf="Devices[i][2][j][2]['accionPin']=='1'&&Devices[i][2][j][3]['accionPin']=='0'">ABIERTO</h5>
                      <h5 class="text-danger"*ngIf="Devices[i][2][j][2]['accionPin']=='0'&&Devices[i][2][j][3]['accionPin']=='1'">CERRADO</h5>
                      <h5 class="text-warning" *ngIf="Devices[i][2][j][2]['accionPin']=='0'&&Devices[i][2][j][3]['accionPin']=='0'">ERROR</h5> 
                    </td>
                    <ng-template #elseBlock>
                      <!-- CON FINALES DE CARRERA -->
                      <td >
                        <h5 class="text-success" *ngIf="Devices[i][2][j][1]['sensorId']=='1'">ABIERTO</h5>
                        <h5 class="text-danger" *ngIf="Devices[i][2][j][1]['sensorId']=='0'">CERRADO</h5>
                      </td>
                    </ng-template>
                    
                    
                  </tr>
                  </tbody>
                </table>
              </nb-card-body>  
          </nb-card>
            </div>
           
            <div class="col-md-6" >
              <nb-card >
                <nb-card-header>Puertas</nb-card-header>
                <nb-card-body>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <td><h4><b>Nombre </b></h4></td>
                    <td><h4><b>Estado </b></h4></td>
                  </tr>
                  </thead>
                 <tbody>
                  <tr *ngFor="let n of Devices[i][3]; let j=index">
                    <td><b>{{Devices[i][3][j][0]['descripcionPin']}}</b></td>
                    <td *ngIf="Devices[i][3][j][0]['clasePin']=='2'; else elseBlock">
                      <!-- CON FINALES DE CARRERA -->
                      <h5 class="text-success" *ngIf="Devices[i][3][j][2]['accionPin']=='1'&&Devices[i][3][j][3]['accionPin']=='0'">ABIERTO</h5>
                      <h5 class="text-danger"*ngIf="Devices[i][3][j][2]['accionPin']=='0'&&Devices[i][3][j][3]['accionPin']=='1'">CERRADO</h5>
                      <h5 class="text-warning" *ngIf="Devices[i][3][j][2]['accionPin']=='0'&&Devices[i][3][j][3]['accionPin']=='0'">ERROR</h5> 
                    </td>
                    <ng-template #elseBlock>
                      <!-- CON FINALES DE CARRERA -->
                      <td >
                        <h5 class="text-success" *ngIf="Devices[i][3][j][1]['sensorId']=='1'">ABIERTO</h5>
                        <h5 class="text-danger" *ngIf="Devices[i][3][j][1]['sensorId']=='0'">CERRADO</h5>
                      </td>
                    </ng-template>
                    
                  </tr>
                  </tbody>
                </table>
              </nb-card-body>

          </nb-card>
            </div>
    </div>


</div>
