<span align="center"><h1>Añadir Producto</h1></span>

<div class="col-md-6">
<button class="btn btn-success " type="button" (click)="volver()" > VOLVER </button>
</div>
<br>
<div class="row">
  <div class="col-md-3" *ngFor="let n of prod ; let i=index">
    <nb-card >
      <nb-card-header><img  src="http://192.168.10.41:3000/api/mostrarImagen/{{prod[i]['imagen']}}" class="img-responsive" width="100%" height="100%" ></nb-card-header>
      <nb-card-body>
        <h3>{{prod[i]['nombreProducto']}} </h3>
      <table class="table-hover">
        <tr>
          <td> Temp. Maxima:</td>
          <td>{{prod[i]['tempMaxRecomendada']}} °C</td>
        </tr>
        <tr>
          <td>Temp. Minima:</td>
          <td>{{prod[i]['tempMinRecomendada']}} °C</td>
        </tr>
        <tr>
          <td>Desarrollo :</td>
          <td>{{prod[i]['tiempoProduccion']}}</td>
        </tr>
      </table>
    </nb-card-body>
    <nb-card-footer>
      <p class="alert alert-danger">Antes de agregar el producto, ingrese la cantidad</p>
      <label>Cantidad :</label>
      <input type="text" placeholder="Cantidad" class="form-control" >
      <br>
      <button class="btn btn-success btn-sm btn-block" type="button" (click)="agregar(prod[i]['id'])"> Agregar </button>


    </nb-card-footer>
 </nb-card>
  </div>