<div class="container">
  <div class="starter-template">
    <div class="row">
      <div class="col-md-6">
        <h1>Notificaciones Error</h1>
        <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Fecha</label>
            
              <input type="date" id="fecha" formControlName="fecha" class="form-control" />
            
            <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
              <div *ngIf="f.fecha.errors.required">fecha</div>
            </div>
          </div>

          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary" (click)="obtener()">Obtener</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h1>Notificaciones Funcionamiento</h1>
        <form [formGroup]="contacto2" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Fecha</label>
            
              <input type="date" id="fecha" formControlName="fecha" class="form-control" />
            
            <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
              <div *ngIf="f.fecha.errors.required">fecha</div>
            </div>
          </div>

          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary" (click)="obtener2()">Obtener</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> 

<!-- NOTIFICACIONES ERROR -->
<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        <span align="center">
          <h3>Notificaciones de Fallo</h3>
        </span>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-striped">
          <thead>
            <tr>
             <th><b>Titulo</b></th>
             <th><b>Mensaje</b></th> 
            </tr>
          </thead>
          <tbody>
            <th>
            <tr *ngFor="let n of formato" >
                  {{n.titulo}}
            </tr> 
            </th>
             <th>
            <tr *ngFor="let n of formato" >
                  {{n.cuerpo}}
            </tr> 
            </th>
          </tbody>
        </table>
      </nb-card-body>
      <nb-card-footer>

      </nb-card-footer>
    </nb-card>
  </div>

  <!-- NOTIFICACIONES FUNCIONAMIENTO -->

  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        <span align="center">
          <h3>Notificaciones de Funcionamiento</h3>
        </span>
      </nb-card-header>
      <nb-card-body>
        <table class="table table-striped">
          <thead>
            <tr>
             <th><b>Titulo</b></th>
             <th><b>Mensaje</b></th> 
            </tr>
          </thead>
          <tbody>
            <th>
            <tr *ngFor="let n of formato2" >
                  {{n.titulo}}
            </tr> 
            </th>
             <th>
            <tr *ngFor="let n of formato2" >
                  {{n.cuerpo}}
            </tr> 
            </th>
          </tbody>
        </table>
      </nb-card-body>
      <nb-card-footer>

      </nb-card-footer>
    </nb-card>
  </div>

 </div>

