<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation">
      <i class="nb-menu"></i></a>
   <img src="assets/images/Logo Patelecom.png" class="logo">
  </div>

</div>

<div class="header-container">
  
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
   
    <nb-action >
      <nb-user [nbContextMenu]="userMenu" [name]="user?.name" [picture]="user?.picture"></nb-user>
    </nb-action>
    <nb-action icon="nb-notifications"  badgeText="{{notifications.length}}"
                 badgeStatus="danger" [nbPopover]="templateRef" nbPopoverPlacement="bottom">
    </nb-action>
    <ng-template #templateRef>
  
    <div *ngFor="let n of notifications ; let i=index" >
      <label class="text-info">{{notifications[i]['titulo']}}</label><br>
      <span style="padding-top: 0px;padding-bottom: 0px;"> {{notifications[i]['cuerpo']}}</span><hr>
    </div>
  
</ng-template>
   
  </nb-actions>
</div>
