<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="" class="navigation"  *ngIf="role=='user'||id!=null">
      <i class="nb-menu" *ngIf="status=='enable'"></i></a>
     <div ><img src="assets/images/Logo Patelecom.png" class="logo"></div>
      

      
    
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>

  <nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action >
  
     
  <div class="dropdown ghost-dropdown" ngbDropdown *ngIf="status=='enable'">
      <button class="btn btn-primary withouth-margins" type="button" style="padding: 14px 40px" ngbDropdownToggle>
        {{username}} {{lastname}}
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu >
        <li class="dropdown-item" (click)="profileAdmin()" *ngIf="role=='admin'||role=='root'"><p align="center">Mi Perfil</p></li>
        <li class="dropdown-item" (click)="profile()" *ngIf="role=='user'"><p align="center">Mi Perfil</p></li>
        <li class="dropdown-item" (click)="Administrar()" *ngIf="role=='admin'"><p align="center">Administrar<br>usuarios</p></li>
        <li class="dropdown-item" (click)="Administrar()" *ngIf="role=='root'"><p align="center">Administrar<br>Cuentas</p></li>
        <li class="dropdown-item" (click)="Productos()" *ngIf="role=='admin'||role=='root'"><p align="center">Catalogo<br>productos</p></li>
        <li class="dropdown-item" (click)="Controladores()" *ngIf="role=='admin'||role=='root'"><p align="center">Catalogo<br>Controladores</p></li>
        <li class="dropdown-item" (click)="LogOut()"><p align="center">Desconectarse</p></li>
      </ul>
    </div>



  </nb-action>
  <nb-action class="control-item" disabled icon="nb-notifications" *ngIf="status=='enable'"></nb-action>
 
</nb-actions>


</div>


