<ol class="breadcrumb">
  <li><a href="/#/admin/user">Control de Cuentas</a></li><b>/</b>
    <li><a href="/#/admin/details">Detalles de Cuenta</a></li><b>/</b>
     <li><a href="/#/admin/detailsinv">Detalles de Invernadero</a></li><b>/</b>
  <li>Añadir Controlador</li>
  </ol>
<h1 [@fadeIn]>Añadir nuevo Controlador</h1>
<br>
<button class="btn btn-success " type="button" (click)="volver()" [@fadeIn]> VOLVER </button>

<div class="row" [@fadeIn]>

        <div class="col-md-4" *ngFor="let n of Controller;let i=index">
          <nb-card >
           
            <nb-card-header><img  src="assets/images/devices/Controller.png" class="tn">
            </nb-card-header>
            <nb-card-body>
            <table class="table table-striped">
              
            <tbody>
              <tr >
                <td><b>Modelo</b></td>
                <td><h5>{{Controller[i]['modelo']}}</h5></td>
              </tr>
              <tr >
                <td><b>Marca:</b></td>
                <td>{{Controller[i]['marca']}}</td>
              </tr>
              <tr >
                <td><b>Numero Digitales:</b></td>
                  <td>{{Controller[i]['nroDigitales']}} Pines</td>  
              </tr>
              <tr >
                <td><b>Numero Analogicos:</b></td>
                  <td>{{Controller[i]['nroAnalogicos']}} Pines</td>  
              </tr>
              </tbody>
            </table>
          </nb-card-body>
        
        <nb-card-footer>
             <button class="btn btn-success btn-tn btn-block" type="button" (click)="addControlador(Controller[i]['modelo'],Controller[i]['marca'],Controller[i]['nroDigitales'],Controller[i]['nroAnalogicos'])"> Agregar </button>

              </nb-card-footer>
       </nb-card>
        </div>
        
      </div>