<ol class="breadcrumb">
  <li><a href="/#/admin/user">Control de Cuentas</a></li><b>/</b>
    <li><a href="/#/admin/details">Detalles de Cuenta</a></li><b>/</b>
  <li>Detalles Invernadero</li>
  </ol>
<div class="col-md-12" [@fadeIn]>
  <div class="row">
  <div class="col-md-3">	
          <button type="button" class="btn btn-success btn-with-icon btn-block" (click)="volver()">
          <i class="ion-arrow-left-a"></i>
            <span>Volver</span>
            </button>

            <button type="button" class="btn btn-warning btn-with-icon btn-block" (click)="camaras()">
          <i class="ion-camera"></i>
            <span>Camaras</span>
            </button>

			   <button type="button" class="btn btn-info btn-with-icon btn-block" (click)="editar()">
			     <i class="ion-edit"></i>
            <span>Editar</span>
          	</button>

          	<button type="button" class="btn btn-danger btn-with-icon btn-block" (click)="eliminar()">
            <i class="ion-trash-a"></i>
            <span>Eliminar</span>
          </button>
          <br>
  </div>


<div class="col-lg-9">
    <nb-card>
      <nb-card-header><span align="center"><h1>Informacion de el invernadero</h1></span></nb-card-header>
      <nb-card-body>       
      <div class="row full-name-inputs">
          <div class="col-sm-6 form-group">
            <label>Departamento :</label>
            <input type="text" name="departamento"  value="{{departamento}}" class="form-control"  disabled />
          </div>
           <div class="col-sm-6 form-group">
          <label>Provincia :</label>
          <input type="text" name="provincia"  value="{{provincia}}" class="form-control"  disabled />
        </div>
        </div>
        <div class="form-group">
          <label>Ubicacion :</label>
          <input type="text" name="ubicacion" value="{{ubicacion}}" class="form-control"  disabled />
        </div>
        <div class="row full-name-inputs">

          <div class="col-sm-6 form-group">
            <label>Tiempo de Funcionamiento del Motor :</label>
            <input type="text" name="tempWorkMotor"  value="{{tiempoFuncionMotor}}" class="form-control"  disabled />
          </div>
          <div class="col-sm-6 form-group">
            <label>Tiempo de Pausa</label>
            <input type="text" name="tempPausa"  value="{{tiempoPausa}}" class="form-control"  disabled />
          </div>
          
        </div>
       
        
         <div class="row full-name-inputs">
          <div class="col-sm-3 form-group">
            <label>Temperatura Maxima :</label>
            <input type="text" name="tempMaxima"  value="{{tempMax}}" class="form-control"  disabled />
          </div>
          <div class="col-sm-3 form-group">
            <label>Temperatura Media :</label>
            <input type="text" name="tempMaxima"  value="{{tempMedia}}" class="form-control"  disabled />
          </div>
          <div class="col-sm-3 form-group">
            <label>Temperatura Minima :</label>
            <input type="text"  name="tempMinima"  value="{{tempMin}}" class="form-control"  disabled />
          </div>
          <div class="col-sm-3  form-group">
              <label>Tiempo Intermitencia :</label>
          <input type="text" name="min" value="{{timeIntermitencia}}" class="form-control" disabled />
            </div>
        </div>
       
        
      </nb-card-body>
    </nb-card>
  </div>
</div>


</div>



  <div class="col-lg-12">
    <nb-card >
      <nb-tabset fullWidth>

        <nb-tab tabTitle="Controladores">
          <!-- CONTENIDO -->
          <h3 class="grid-h"></h3>
          <br>
          <h3 class="grid-h"></h3>
          <div class="col-md-10 offset-md-1">
          <div class="row">
			  <div class="col-md-4" *ngFor="let n of Controller;let i=index">
			    <nb-card >
			     
			      <nb-card-header><img  src="assets/images/devices/Controller.png" class="tn">
            </nb-card-header>
			      <nb-card-body>
            <table class="table table-striped">
              
            <tbody>
              <tr >
                <td><b>Marca:</b></td>
                <td>{{Controller[i]['marcaC']}}</td>
              </tr>
              <tr >
                <td><b>Modelo</b></td>
                <td>{{Controller[i]['modeloC']}}</td>
              </tr>
              <tr >
                <td><b>Estado:</b></td>
                    <td *ngIf="Controller[i]['connected']==true"><h5 class="text-success">Conectado</h5> </td>
                    <td *ngIf="Controller[i]['connected']==false"><h5 class="text-danger">Desconectado</h5></td>
              </tr>
              </tbody>
            </table>
			    </nb-card-body>
			  
        <nb-card-footer>
             <button class="btn btn-danger btn-tn btn-block" type="button" (click)="delete(Controller[i]['id'])"> Eliminar </button>

              </nb-card-footer>
			 </nb-card>
			  </div>
			  <div class="col-md-4 "> 
			   
			      <a href="#/admin/addcontroller"><img src="assets/images/add.png"  class="add" ></a>
			  </div>
			</div>
</div>

        </nb-tab>


     <nb-tab tabTitle="Actuadores y Sensores">
         <!-- CONTENIDO -->
         
          <br>
          <h3 class="grid-h"></h3>
      
        <div *ngFor="let n of Devices;let i=index">
          
        
        <p>
          <button type="button" class="btn btn-outline-success btn-block" (click)="Controller[i]['usuarioId']= !Controller[i]['usuarioId']"
                  [attr.aria-expanded]="!Controller[i]['usuarioId']" aria-controls="collapseExample" >
            {{Controller[i]['modeloC']}}
          </button>
        </p>
        <div id="collapseExample" [ngbCollapse]="!Controller[i]['usuarioId']">
          <div class="card">
            <div class="card-body">

               <div class="row">

                 
               <div class="col-md-3" *ngFor="let n of Devices[i];let j=index">
                <span align=""></span>
                <nb-card>
                <nb-card-header><img  src="assets/images/devices/Pin.png" class="tn">
                </nb-card-header>
                <nb-card-body>

              <table class="table table-striped">
                  
                <tbody>
                  <tr >
                    <td><b>Nro Pin:</b></td>
                    <td>{{Devices[i][j]['nroPin']}}</td>
                  </tr>
                  <tr >
                    <td><b>Tipo Pin:</b></td>
                    <td>{{Devices[i][j]['tipoPin']}} </td>
                  </tr>
                  <tr >
                    <td><b>Estado:</b></td>
                        <td *ngIf="Devices[i][j]['estado']==true"><h6 class="text-success">Habilitado</h6> </td>
                        <td *ngIf="Devices[i][j]['estado']==false"><h6 class="text-danger">Desabilitado</h6></td>
                  </tr>
                  <tr >
                    <td><b>Descripcion:</b></td>
                      <td> <h5 > {{Devices[i][j]['descripcionPin']}}</h5> </td>
                  </tr>
                  <tr *ngIf="Devices[i][j]['sensorId']!='-1'">
                    <td colspan="2"><span align="center"><h4 class="text-primary"><b>Depende del Siguiente Sensor</b></h4></span></td>
                    <td></td>
                    
                  </tr>
                  
                  <tr *ngIf="Devices[i][j]['sensorId']!='-1'">         
                      <td> <span align="center"><h5 class="text-primary"> {{pinDepende}}</h5> </span></td>
                      <td><span align="center"> <h5 class="text-primary">{{descripcion}}</h5></span></td>

                  </tr>
                  
                  </tbody>
            </table>
 

                </nb-card-body>
              
              <nb-card-footer>
             <button class="btn btn-danger btn-tn btn-block" type="button" (click)="desPin(Devices[i][j]['id'],Devices[i][j]['descripcionPin'])"> Eliminar </button>

              </nb-card-footer>

             </nb-card>

           </div>
           <div class=" col-md-3">
                <img src="assets/images/add.png" class="add" (click)="add(Controller[i]['id'])" >
              </div>

         
          
          </div>
           

          </div>
        </div>
</div>
</div>







          
        </nb-tab>

      </nb-tabset>
    </nb-card>
  </div>