nb-card{
	padding-top: 30px;
}
.add{
  width: 70%;
  height: auto;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  aling-content: center;
}
.tn{
  width: 90%;
  height: 90%;
   padding: 10px;
  
  background-position: center;
  aling-content: center;
  }