<ol class="breadcrumb">
  <li><a href="/#/Administrador/Cuentas/Usuarios">Control de Cuentas</a></li><b>/</b>   
  <li>Detalles Cuenta</li>
  </ol>

<div class="col-md-12" [@fadeIn]>

<div class="col-md-4 offset-md-4" >
  <nb-card>
    <nb-card-body>
      <nb-actions  size="large">
        <nb-action (click)="volver()">
          <i class="ion-arrow-left-a text-success"></i><span>Volver</span>
        </nb-action>
        <nb-action   (click)="editar()">
          <i class="ion-edit text-info"></i><span>Editar</span>
        </nb-action>
        <nb-action  (click)="eliminar()">
          <i class="ion-trash-a text-danger"></i><span>Eliminar</span>
        </nb-action>
        
      </nb-actions>

    </nb-card-body>

  </nb-card>
</div>
<div class="col-md-6 offset-md-3" >
   <nb-card>
    <nb-card-header>
            <span align="center">
              <h2>Info de la Cuenta</h2></span>
    </nb-card-header>
          <nb-card-body>
            
            <div class="font-row font-main">
              <div class="header">
                <div class="name bold">Nombre :</div>
                <div class="variants">
                  <span class="font-w-regular">{{nombre}}</span>
                </div>
              </div>

              <div class="header">
                <div class="name bold">Apellido Paterno:</div>
                <div class="variants">
                  <span class="font-w-regular">{{ap_paterno}}</span>
                </div>
              </div>

              <div class="header">
                <div class="name bold">Apellido Materno:</div>
                <div class="variants">
                  <span class="font-w-regular">{{ap_materno}}</span>
                </div>
              </div>

              <div class="header">
                <div class="name bold">Direccion :</div>
                <div class="variants">
                  <span class="font-w-regular">{{direccion}}</span>
                </div>
              </div>
               <div class="header">
                <div class="name bold">Telefono :</div>
                <div class="variants">
                  <span class="font-w-regular">{{telefono}}</span>
                </div>
              </div>
               <div class="header">
                <div class="name bold">Rol :</div>
                <div class="variants">
                  <span class="font-w-regular">{{role}}</span>
                </div>
              </div>
             <div class="header">
                <div class="name bold">Correo Electronico:</div>
                <div class="variants">
                  <span class="font-w-regular">{{correo}}</span>
                </div>
              </div>

              <div class="header">
                <div class="name bold">Contraseña :</div>
                <div class="variants">
                  <span class="font-w-regular">{{password}}</span>
                </div>
              </div>
            </div>       
             <button  nbButton  shape="rectangle" status="success" size="xsmall" fullWidth (click)="VerInvernaderos()" *ngIf="role=='user'">Ver Invernaderos</button>   
          </nb-card-body>
          
        </nb-card>
</div>


  <!--<div class="row">
  <div class="col-md-3">
      <button type="button" class="btn btn-success btn-with-icon btn-block" (click)="volver()"> 
            <i class="ion-arrow-left-a"></i>     
            <span> Volver<br> </span>
      </button>

      <button type="button" class="btn btn-primary btn-with-icon btn-block" (click)="dashboard()" *ngIf="role=='user'"> 
            <i class="ion-ios-eye"></i>     
            <span> Ver Dashboard<br> </span>
      </button>

      
      <button type="button" class="btn btn-info btn-with-icon btn-block" (click)="editar()">
      <i class="ion-edit"></i>
            <span>Editar</span>
      </button>

      <button type="button" class="btn btn-danger btn-with-icon btn-block" (click)="eliminar()">
            <i class="ion-trash-a"></i>
            <span>Eliminar</span>
      </button>
      <br> 
  </div>


<div class="col-lg-9">
    <nb-card>
      <nb-card-header><span align="center">
        <h1 *ngIf="role=='user'">Informacion del usuario</h1>
      <h1 *ngIf="role!='user'">Informacion del Administrador</h1>
    </span></nb-card-header>
      <nb-card-body>
       
        <div class="row full-name-inputs">
          <div class="col-sm-4 form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Nombres"  value="{{nombre}}" class="form-control" disabled />
          </div>
          <div class="col-sm-4 form-group">
            <label>Apellido Paterno</label>
            <input type="text" placeholder="Ap_paterno" value="{{ap_paterno}}" class="form-control" disabled/>
          </div>
          <div class="col-sm-4 form-group">
            <label>Apellido Materno:</label>
            <input type="text" placeholder="Ap_materno" value="{{ap_materno}}" class="form-control" disabled/>
          </div><br>
        </div>
     
         <div class="form-group">
          <label>Direccion :</label>
          <input type="text"  placeholder="Direccion" value="{{direccion}}" class="form-control" disabled/>
        </div>

         <div class="form-group">
          <label>Telefono - Celular :</label>
          <input type="text"  placeholder="Telefono-Celular" value="{{telefono}}" class="form-control" disabled/>
        </div>
         <div class="form-group">
          <label>Correo Electronico :</label>
          <input type="text"  placeholder="Correo Electronico" value="{{correo}}" class="form-control" disabled/>
        </div>
        <div class="form-group">
          <label>Contraseña :</label>
          <input type="text" placeholder="Contraseña" value="{{password}}" class="form-control" disabled/>
        </div>
      

      </nb-card-body>
    </nb-card>

  </div>
</div>-->

</div>

