<ol class="breadcrumb">
  <li><a href="/#/Administrador/Cuentas/Usuarios">Control de Cuentas</a></li><b>/</b>   
  <li>Detalles Cuenta</li>
  </ol>

<div class="col-md-12" [@fadeIn]>
  <div class="row">
  <div class="col-md-3">
      <button type="button" class="btn btn-success btn-with-icon btn-block" (click)="volver()"> 
            <i class="ion-arrow-left-a"></i>     
            <span> Volver<br> </span>
      </button>

      <button type="button" class="btn btn-primary btn-with-icon btn-block" (click)="dashboard()" *ngIf="role=='user'"> 
            <i class="ion-ios-eye"></i>     
            <span> Ver Dashboard<br> </span>
      </button>

      
      <button type="button" class="btn btn-info btn-with-icon btn-block" (click)="editar()">
      <i class="ion-edit"></i>
            <span>Editar</span>
      </button>

      <button type="button" class="btn btn-danger btn-with-icon btn-block" (click)="eliminar()">
            <i class="ion-trash-a"></i>
            <span>Eliminar</span>
      </button>
      <br> 
  </div>


<div class="col-lg-9">
    <nb-card>
      <nb-card-header><span align="center">
        <h1 *ngIf="role=='user'">Informacion del usuario</h1>
      <h1 *ngIf="role!='user'">Informacion del Administrador</h1>
    </span></nb-card-header>
      <nb-card-body>
       
        <div class="row full-name-inputs">
          <div class="col-sm-4 form-group">
            <label>Nombre</label>
            <input type="text" placeholder="Nombres"  value="{{nombre}}" class="form-control" disabled />
          </div>
          <div class="col-sm-4 form-group">
            <label>Apellido Paterno</label>
            <input type="text" placeholder="Ap_paterno" value="{{ap_paterno}}" class="form-control" disabled/>
          </div>
          <div class="col-sm-4 form-group">
            <label>Apellido Materno:</label>
            <input type="text" placeholder="Ap_materno" value="{{ap_materno}}" class="form-control" disabled/>
          </div><br>
        </div>
     
         <div class="form-group">
          <label>Direccion :</label>
          <input type="text"  placeholder="Direccion" value="{{direccion}}" class="form-control" disabled/>
        </div>

         <div class="form-group">
          <label>Telefono - Celular :</label>
          <input type="text"  placeholder="Telefono-Celular" value="{{telefono}}" class="form-control" disabled/>
        </div>
         <div class="form-group">
          <label>Correo Electronico :</label>
          <input type="text"  placeholder="Correo Electronico" value="{{correo}}" class="form-control" disabled/>
        </div>
        <div class="form-group">
          <label>Contraseña :</label>
          <input type="text" placeholder="Contraseña" value="{{password}}" class="form-control" disabled/>
        </div>
      

      </nb-card-body>
    </nb-card>

  </div>
</div>

<h2 class="grid-h" *ngIf="role=='user'">Lista de Invernaderos</h2>
<div class="row" *ngIf="role=='user'">
  <div class="col-md-3" *ngFor="let n of Invernaderos;let i=index" >

    <nb-card >
      <nb-card-header><img  src="assets/images/invernadero.png" class="tn"></nb-card-header>
      <nb-card-body>
       <table class="table ">
        
      <tbody>
        <tr >
          <td><b>Departamento</b></td>
          <td>{{Invernaderos[i]['departamento']}}</td>
        </tr>
        <tr >
          <td><b>Provincia</b></td>
          <td>{{Invernaderos[i]['provincia']}}</td>
        </tr>
        <tr >
          <td><b>Ubicacion</b></td>
          <td>{{Invernaderos[i]['ubicacion']}}</td>
        </tr>
        </tbody>
      </table>
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-outline-info btn-block btn-tn" (click)="DetalleInvernadero(Invernaderos[i]['id'])" > Ver Invernadero</button>
    </nb-card-footer>
 </nb-card>

  </div>

  <div class="col-md-3 "> 
    <br>
    <br>
    <br>
      <a href="#/Administrador/Invernaderos/Agregar"><img src="assets/images/add.png"  class="add"></a>
  </div>

</div>



