<div class="col-lg-8 offset-md-2" [@fadeIn]>
    <nb-card>
      <nb-card-header><span align="center"><h1>Cambio de Contraseña</h1></span></nb-card-header>
      <nb-card-body>
       <form class="form-container" (submit)="actualizarPass($event)">
         <div class="form-group">
          <label>Introdusca su Contraseña Antigua :</label>
          <input type="password" placeholder="Contraseña Antigua" class="form-control" />
        </div>
         <br>
         <div class="form-group">
          <label>Introdusca su Nueva Contraseña :</label>
          <input type="password"  placeholder="Contraseña Nueva"  class="form-control" />
        </div>
         <br>
         <div class="form-group">
          <label>Confirmar Nueva Contraseña :</label>
          <input type="password"  placeholder="Contraseña Nueva"  class="form-control" />
        </div>
        <br>
            <div class="col-md-12">
              <div class="btn-group  btn-group-full-width ">
                  <button class="btn btn-success btn-tn " type="submit" >Guardar<br>Cambios</button>
                  <button class="btn btn-danger btn-tn " type="button" (click)="volver()" > Cancelar </button>           
              </div>
          </div>

        </form>
      </nb-card-body>
    </nb-card>

  </div>