<!-- Navegacion -->


<nav class="navbar nav-pills navbar-expand-md navbar-light  sticky-top" style="background-color: #ffffff;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="assets/images/Logo Patelecom.png" class="logo">
    <img src="assets/images/Logo Johus.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
     <ul class="navbar-nav ml-auto"> 
        <li class="nav-item active">
          <a class="nav-link " href="#/Principal/Inicio" ><b><h5 class="menu">Inicio</h5></b></a>
        </li>
         <li class="nav-item">
          <a class="nav-link activado" href="#/Principal/AcercaNosotros"> <h4 class="menu">Quienes Somos </h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/Principal/Login"> <h5 class="menu">Iniciar Sesion</h5></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#/Principal/Contactos"> <h5 class="menu">Contactenos </h5></a>
        </li>
       <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle"  ngbDropdownToggle><h5 class="menu dropdown">Otros</h5></a>
        <div class="dropdown-menu"  ngbDropdownMenu>
          <a class="dropdown-item" href="#/Principal/Productos"><h6 class="menu">Otros Productos</h6></a>
          <a class="dropdown-item" href="#/Principal/Servicios"><h6 class="menu">Otros Servicios</h6></a>
        </div>
      </li>
    
        <li class="nav-item">
          <a href="#/Principal/Demo/dashboard"><button type="button" class="btn btn-success btn-md animado"> <font color="white"><b>Probar DEMO</b></font>
        </button></a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<hr>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5">¿Quienes somos? </h1>
</div>

<div >
  <h3><strong>Visión</strong></h3>
  <ul  class="lead" style="text-align: justify; color: #000;">
    <li><span style="font-size: 12pt;">Ser la empresa líder en el sector de servicios de telecomunicación, formadora de elementos humanos con calidad, prestos a colaborar en el progreso, personal, social y nacional.</span></li>
  </ul>
  <h3><strong>Misión</strong></h3>
  <ul class="lead" style="text-align: justify; color: #000;">
    <li><span style="font-size: 12pt;">Otorgar un servicio con calidad.</span></li>
    <li><span style="font-size: 12pt;">Preparar y capacitar a personal humano para brindar un servicio efectivo y profesional.</span></li>
    <li><span style="font-size: 12pt;">La mejora continua, constante aprendizaje, creativos, innovadores proyectados al progreso.</span></li>
    <li><span style="font-size: 12pt;">Demostrar valores para una sociedad justa.</span></li>
  </ul>
  <h3><strong>Valores</strong></h3>
  <ul class="lead" style="text-align: justify; color: #000;">
    <li><span style="font-size: 12pt;">Respeto, profesionalismo, perseverancia.</span></li>
  </ul>
   <h3><strong>Orientación al Cliente</strong></h3>
  <ul class="lead" style="text-align: justify; color: #000;">
    <li><span style="font-size: 12pt;">Disponemos de un equipo de trabajo comprometido a ofrecerle respuestas rápidas, soporte y atención personalizada a través de múltiples vías ( mail- teléfono directo al NOC).</span></li>
  </ul>
   <h3><strong>Profesionalismo</strong></h3>
  <ul class="lead" style="text-align: justify; color: #000;">
    <li><span style="font-size: 12pt;">Contamos con personal capacitado y comprometidos al avance continuo a nivel científico-técnico-personal para brindarle las mejores soluciones en telecomunicaciones</span></li>
  </ul>

</div>
  

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5">Nuestra Participacion en Eventos</h1>
</div>

 <ngb-carousel>
    <ng-template ngbSlide>
      <div id="captioned-gallery">
  <figure class="slider">
    <figure>
      <img src="assets/images/about/notice1.jpg" alt class="picture" height="400px" width="100%">
      <figcaption class="Titulo">FIPAZ 2017 Segundo Lugar Innovación y Creatividad</figcaption>
    </figure>
  </figure>
</div>
    </ng-template>
     <ng-template ngbSlide>
      <div id="captioned-gallery">
  <figure class="slider">
    <figure>
      <img src="assets/images/about/notice2.jpeg" alt class="picture" height="400px" width="100%">
      <figcaption class="Titulo">FIPAZ 2017 Equipo Pa-telecom</figcaption>
    </figure>
  </figure>
</div>
    </ng-template>
 <ng-template ngbSlide>
      <div id="captioned-gallery">
  <figure class="slider">
    <figure>
      <img src="assets/images/about/notice3.jpeg" alt class="picture" height="400px" width="100%">
      <figcaption class="Titulo">FIPAZ 2017 Hidroponia Automatizada</figcaption>
    </figure>
  </figure>
</div>
    </ng-template>
 <ng-template ngbSlide>
      <div id="captioned-gallery">
  <figure class="slider">
    <figure>
      <img src="assets/images/about/notice4.jpeg" alt class="picture" height="400px" width="100%">
      <figcaption class="Titulo">FIPAZ 2017 Hidroponia Automatizada</figcaption>
    </figure>
  </figure>
</div>
    </ng-template>
 <ng-template ngbSlide>
      <div id="captioned-gallery">
  <figure class="slider">
    <figure>
      <img src="assets/images/about/notice5.jpeg" alt class="picture" height="400px" width="100%">
      <figcaption class="Titulo">FIPAZ 2017 Proyecto RFID</figcaption>
    </figure>
  </figure>
</div>
    </ng-template>
 <ng-template ngbSlide>
      <div id="captioned-gallery">
  <figure class="slider">
    <figure>
      <img src="assets/images/about/notice7.jpeg" alt class="picture" height="400px" width="100%">
      <figcaption class="Titulo">Premio Empresarial a la Excelencia para el Vivir Bien</figcaption>
    </figure>
  </figure>
</div>
    </ng-template>
    <ng-template ngbSlide>
      <div id="captioned-gallery">
      <figure class="slider">
        <figure>
          <img src="assets/images/about/notice6.jpeg" alt class="picture" height="400px" width="100%">
          <figcaption class="Titulo">Premio Empresarial a la Excelencia para el Vivir Bien</figcaption>
        </figure>
      </figure>
    </div>
    </ng-template>
     <ng-template ngbSlide>
      <div id="captioned-gallery">
      <figure class="slider">
        <figure>
          <img src="assets/images/about/notice8.jpeg" alt class="picture" height="400px" width="100%">
          <figcaption class="Titulo">Proyectos Innovadores</figcaption>
        </figure>
      </figure>
    </div>
    </ng-template>
    <ng-template ngbSlide>
      <div id="captioned-gallery">
      <figure class="slider">
        <figure>
          <img src="assets/images/about/notice9.jpeg" alt class="picture" height="400px" width="100%">
          <figcaption class="Titulo">Proyectos Innovadores</figcaption>
        </figure>
      </figure>
    </div>
    </ng-template>


  </ngb-carousel>







  
<!-- FOOTER -->
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small style="float:right;"><h6>Desarrollado por: <a href="https://www.facebook.com/nelsonrichardc" target="_blank">RichardSon</a></h6></small>
            <small class="d-block mb-3 text-muted"><h5>Patelecom S.R.L.<br>&copy; 2017-2018
              <br>Todos los derechos reservados</h5></small>
          </div>
        </div>
      </footer>
    