<ol class="breadcrumb" [@fadeIn]>
  <li><a href="/#/Administrador/Cuentas/Usuarios">Control de Cuentas</a></li><b>/</b>
    <li><a href="/#/Administrador/Cuentas/Detalle">Detalles de Cuenta</a></li><b>/</b>
     <li><a href="/#/Administrador/Invernaderos/Detalle">Detalles de Invernadero</a></li><b>/</b>
  <li>Añadir componentes</li>
  </ol>
<div class="col-lg-12" [@fadeIn]>
  <h4><label>Seleccion Funcion</label></h4>
      <div class="dropdown ghost-dropdown" ngbDropdown>
      <button class="btn btn-primary" type="button" ngbDropdownToggle>
        -seleccione-
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li class="dropdown-item" value="SensorT" (click)=sensorT()>Sensor de Temperatura</li>
        <li class="dropdown-item" value="SensorH" (click)=sensorH()>Sensor de Humedad</li>
        <li class="dropdown-item" value="Ventilador" (click)=ventilador()>Ventilador</li>
        <li class="dropdown-item" value="Bomba" (click)=bomba()>Bomba de Agua</li>
        <li class="dropdown-item" value="Puerta" (click)=puerta()>Puerta</li>
        <li class="dropdown-item" value="Ventana" (click)=ventana()>Ventana</li>
      
        

      </ul>
    </div>
    <br>


    <nb-card>
      <nb-card-header><span align="center"><h1>Habilitar Pin {{Descripcion}}</h1></span></nb-card-header>
      <nb-card-body>



  <!-- FORMULARIO Final de Carrera -->
  <!--begin-->
        <form class="form-container" (submit)="addFinalCarrera($event)" *ngIf="tipo=='FinCarrera'" [@fadeIn]>
         <div class=" form-group">
              <label>Ubicacion o Numeracion :</label>
              <input type="text" placeholder="Ubicacion o Numeracion" class="form-control"/>
          </div>

           <div class="row full-name-inputs">
            <div class="col-sm-6  form-group">
              <label>Marca :</label>
              <input type="text"  placeholder="Modelo" class="form-control"/>
            </div>
            <div class="col-sm-6 form-group">
              <label>Modelo :</label>
              <input type="text"  placeholder="Modelo" class="form-control" />
            </div>   
        </div> 

        <label><b>Depende del Sensor:</b></label>
          <div *ngFor="let n of Sensores;let i=index">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="customRadio1"  #customRadio1="ngModel" [(ngModel)]="dependence" value="{{Sensores[i]['id']}}">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{Sensores[i]['descripcionPin']}}</span>
              </label>
          </div>
       

          <br>
          <div class="form-group validation-checkboxes row">

          <nb-checkbox status="success" class="col-sm-4" (change)="cambio()">Habilitar finales de carrera</nb-checkbox>
        </div>

        <label *ngIf="FinalCarrera=='desactivado'" [@fadeIn]>Tiempo de funcionamiento del motor</label>
         <div class="row full-name-inputs" *ngIf="FinalCarrera=='desactivado'" [@fadeIn]>
            <div class="col-sm-3  form-group">
          <input type="text" name="min"  placeholder="Minutos" class="form-control">
            </div>
            <div class="col-sm-3  form-group">
          <input type="text" name="sec"  placeholder="Segundos" class="form-control">
            </div>
        </div>

           <label><b>Seleccione el Pin</b></label>
       <div class="row">
          <div class="col-md-3">
            <label>Digital 1</label>
          <div *ngFor="let n of Devices;let i=index">
            <label class="custom-control custom-radio" *ngIf="Devices[i]['tipoPin']=='digital'">
                <input type="radio" class="custom-control-input" name="digitalUno"  #digitalUno="ngModel" [(ngModel)]="pinD1" value="{{Devices[i]['nroPin']}}">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{Devices[i]['nroPin']}}</span>
              </label>
          </div>
      </div>

      <div class="col-md-3">
        <label>Digital 2</label>
          <div *ngFor="let n of Devices;let i=index">
            <label class="custom-control custom-radio" *ngIf="Devices[i]['tipoPin']=='digital'">
                <input type="radio" class="custom-control-input" name="digitalDos"  #digitalDos="ngModel" [(ngModel)]="pinD2" value="{{Devices[i]['nroPin']}}">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{Devices[i]['nroPin']}}</span>
              </label>
          </div>
      </div>

      <div class="col-md-3" *ngIf="FinalCarrera=='activado'" [@fadeIn]>
        <label>Analogico 1</label>
          <div *ngFor="let n of Devices;let i=index">
            <label class="custom-control custom-radio" *ngIf="Devices[i]['tipoPin']=='analogico'">
                <input type="radio" class="custom-control-input" name="analogicoUno"  #analogicoUno="ngModel" [(ngModel)]="pinA1" value="{{Devices[i]['nroPin']}}">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{Devices[i]['nroPin']}}</span>
              </label>
          </div>
      </div>

      <div class="col-md-3" *ngIf="FinalCarrera=='activado'" [@fadeIn]>
        <label>Analogico 2</label>
          <div *ngFor="let n of Devices;let i=index">
            <label class="custom-control custom-radio" *ngIf="Devices[i]['tipoPin']=='analogico'">
                <input type="radio" class="custom-control-input" name="analogicoDos"  #analogicoDos="ngModel" [(ngModel)]="pinA2" value="{{Devices[i]['nroPin']}}">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{Devices[i]['nroPin']}}</span>
              </label>
          </div>
      </div>

        </div>
       <br>
       <div class="col-md-12">
           <div class="btn-group  btn-group-full-width ">
            <input type="submit"  class="btn btn-success " value="Agregar" >
            <input type="button" class="btn btn-danger " value="Cancelar" (click)="volver()">
          </div>
        </div>
       </form>
  <!--end-->



 


  <!-- FORMULARIO ANALOGICO -->
  <!--begin-->
      <form class="form-container" (submit)="AddAnalogico($event)" *ngIf="tipo=='Analogico'" [@fadeIn]>
         <div class=" form-group">
              <label>Ubicacion o Numeracion :</label>
              <input type="text" placeholder="Ubicacion o Numeracion" class="form-control"/>
          </div>

           <div class="row full-name-inputs">
            <div class="col-sm-6  form-group">
              <label>Marca :</label>
              <input type="text"  placeholder="Modelo" class="form-control"/>
            </div>
            <div class="col-sm-6 form-group">
              <label>Modelo :</label>
              <input type="text"  placeholder="Modelo" class="form-control" />
            </div>
        </div>

             <label>Seleccione el Pin</label>
       <div class="row">
          <div *ngFor="let n of Devices;let i=index">
            <label class="custom-control custom-radio" *ngIf="Devices[i]['tipoPin']=='analogico'">
                <input type="radio" class="custom-control-input" name="customRadio"  #customRadio="ngModel" [(ngModel)]="nroPin" value="{{Devices[i]['nroPin']}}">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{Devices[i]['nroPin']}}</span>
              </label>
          </div>
        </div>
       <br>
       <div class="col-md-12">
           <div class="btn-group  btn-group-full-width ">
            <input type="submit"  class="btn btn-success " value="Agregar" >
            <input type="button" class="btn btn-danger " value="Cancelar" (click)="volver()">
          </div>
        </div>
         <br>
       </form>
  <!--end-->



  <!-- FORMULARIO DIGITAL -->
  <!--begin-->
        <form class="form-container" (submit)="AddDigital($event)" *ngIf="tipo=='Digital'" [@fadeIn]>
         <div class=" form-group">
              <label>Ubicacion o Numeracion :</label>
              <input type="text" placeholder="Ubicacion o Numeracion" class="form-control"/>
          </div>

           <div class="row full-name-inputs">
            <div class="col-sm-6  form-group">
              <label>Marca :</label>
              <input type="text"  placeholder="Modelo" class="form-control"/>
            </div>
            <div class="col-sm-6 form-group">
              <label>Modelo :</label>
              <input type="text"  placeholder="Modelo" class="form-control" />
            </div>
        </div>

        <label>Depende del Sensor:</label>
          <div *ngFor="let n of Sensores;let i=index">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="customRadio1"  #customRadio1="ngModel" [(ngModel)]="dependence" value="{{Sensores[i]['id']}}">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{Sensores[i]['descripcionPin']}}</span>
              </label>
          </div>
       

    <br>
           <label>Seleccione el Pin</label>
       <div class="row">
          <div *ngFor="let n of Devices;let i=index">
            <label class="custom-control custom-radio" *ngIf="Devices[i]['tipoPin']=='digital'">
                <input type="radio" class="custom-control-input" name="customRadio"  #customRadio="ngModel" [(ngModel)]="nroPin" value="{{Devices[i]['nroPin']}}">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{Devices[i]['nroPin']}}</span>
              </label>
          </div>
        </div>
       <br>
       <div class="col-md-12">
           <div class="btn-group  btn-group-full-width ">
            <input type="submit"  class="btn btn-success " value="Agregar" >
            <input type="button" class="btn btn-danger " value="Cancelar" (click)="volver()">
          </div>
        </div>
       </form>
    <!--end-->



      </nb-card-body>
    </nb-card>

</div>


