<!-- Navegacion -->


<nav class="navbar nav-pills navbar-expand-md navbar-light  sticky-top" style="background-color: #ffffff;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="assets/images/Logo Patelecom.png" class="logo">
    <img src="assets/images/Logo Johus.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto"> 
        <li class="nav-item active">
          <a class="nav-link" href="#/Principal/Inicio" ><b><h5 class="menu">Inicio</h5></b></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#/Principal/AcercaNosotros"> <h5 class="menu">Quienes Somos </h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/Principal/Login"> <h5 class="menu">Iniciar Sesion</h5></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#/Principal/Contactos"> <h5 class="menu">Contactenos </h5></a>
        </li>
       <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle activado"  ngbDropdownToggle><h5 class="menu dropdown">Otros</h5></a>
        <div class="dropdown-menu"  ngbDropdownMenu>
          <a class="dropdown-item" href="#/Principal/Productos"><h6 class="menu">Otros Productos</h6></a>
          <a class="dropdown-item activado" href="#/Principal/Servicios"><h6 class="menu">Otros Servicios</h6></a>
        </div>
      </li>
    
        <li class="nav-item">
          <a href="#/Principal/Demo/dashboard"><button type="button" class="btn btn-success btn-md animado"> <font color="white"><b>Probar DEMO</b></font>
        </button></a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<hr>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5">Trabajamos para mejorar contigo</h1>
  </div>

<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <nb-card>
          <nb-card-header>
            Desarrollo de sistemas con Rfid
          </nb-card-header>
          <nb-card-body>
             <img src="assets/services/service1.jpg" class="img-service">
          </nb-card-body>
          <nb-card-footer>
            <a href="http://www.patelecomsrl.com/index.php?option=com_k2&view=item&id=4:desarrollo-de-sistemas-con-rfid" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button"  > Mas Informacion </button></a>
          </nb-card-footer>
         
        </nb-card>

      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-header>
            Alojamiento de Radios en Linea
          </nb-card-header>
          <nb-card-body>
             <img src="assets/services/service2.jpg" class="img-service">
          </nb-card-body>
          <nb-card-footer>
            <a href="http://www.patelecomsrl.com/index.php?option=com_k2&view=item&id=19:alojamiento-de-radios-en-linea" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button"  > Mas Informacion </button></a>
          </nb-card-footer>
         
        </nb-card>

      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-header>
           Desarollo de sistemas a medida
          </nb-card-header>
          <nb-card-body>
             <img src="assets/services/service3.jpg" class="img-service">
          </nb-card-body>
          <nb-card-footer>
            <a href="http://www.patelecomsrl.com/index.php?option=com_k2&view=item&id=9:desarrollo-de-sistemas-a-medida" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button"  > Mas Informacion </button></a>
          </nb-card-footer>
         
        </nb-card>

      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-header>
            Desarollo de sitios web
          </nb-card-header>
          <nb-card-body>
            <img src="assets/services/service4.jpg" class="img-service">
          </nb-card-body>
          <nb-card-footer>
            <a href="http://www.patelecomsrl.com/index.php?option=com_k2&view=item&id=8:desarrollo-de-sitios-web" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button"  > Mas Informacion </button></a>
          </nb-card-footer>
         
        </nb-card>

      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-header>
            Envio de Sms Masivo
          </nb-card-header>
          <nb-card-body>
             <img src="assets/services/service5.jpg" class="img-service">
          </nb-card-body>
          <nb-card-footer>
            <a href="http://www.patelecomsrl.com/index.php?option=com_k2&view=item&id=26:enviosmsmasivo4" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button"  > Mas Informacion </button></a>
          </nb-card-footer>
         
        </nb-card>

      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-header>
            Diseño de sitios web de tienda en linea
          </nb-card-header>
          <nb-card-body>
             <img src="assets/services/service6.jpg" class="img-service">
          </nb-card-body>
          <nb-card-footer>
            <a href="http://www.patelecomsrl.com/index.php?option=com_k2&view=item&id=18:diseno-de-sitios-web-diseno-de-tienda-en-linea" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button"  > Mas Informacion </button></a>
          </nb-card-footer>
         
        </nb-card>

      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-header>
            Automatizacion
          </nb-card-header>
          <nb-card-body>
             <img src="assets/services/service7.jpg" class="img-service">
          </nb-card-body>
          <nb-card-footer>
            <a href="http://www.patelecomsrl.com/index.php?option=com_k2&view=item&id=7:automatizacion" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button"  > Mas Informacion </button></a>
          </nb-card-footer>
         
        </nb-card>

      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-header>
            Instalacion en telecomunicacion
          </nb-card-header>
          <nb-card-body>
             <img src="assets/services/service8.jpg" class="img-service">
          </nb-card-body>
          <nb-card-footer>
            <a href="http://www.patelecomsrl.com/index.php?option=com_k2&view=item&id=17:instalacion-en-telecomunicaciones" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button"  > Mas Informacion </button></a>
          </nb-card-footer>
         
        </nb-card>

      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-header>
            Homologacion de equipos certificacion de la ATT
          </nb-card-header>
          <nb-card-body>
             <img src="assets/services/service9.jpg" class="img-service">
          </nb-card-body>
          <nb-card-footer>
            <a href="http://www.patelecomsrl.com/index.php?option=com_k2&view=item&id=16:homologacion-de-equipos-certificacion-de-la-att" target="_blank"><button class="btn btn-primary btn-sm btn-block" type="button"  > Mas Informacion </button></a>
          </nb-card-footer>
         
        </nb-card>

      </div>
    </div>
  </div>
  
</div>

<!-- FOOTER -->
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small style="float:right;"><h6>Desarrollado por: <a href="https://www.facebook.com/nelsonrichardc" target="_blank">RichardSon</a></h6></small>
            <small class="d-block mb-3 text-muted"><h5>Patelecom S.R.L.<br>&copy; 2017-2018
              <br>Todos los derechos reservados</h5></small>
          </div>
        </div>
      </footer>
    