<div class="row" [@fadeIn]>
        <div class="col-md-4" *ngFor="let n of Controller;let i=index">
          <nb-card >
           
            <nb-card-header><img  src="assets/images/devices/Controller.png" class="tn">
            </nb-card-header>
            <nb-card-body>
            <table class="table table-striped">
              
            <tbody>
              <tr >
                <td><b>Modelo</b></td>
                <td><h5>{{Controller[i]['modelo']}}</h5></td>
              </tr>
              <tr >
                <td><b>Marca:</b></td>
                <td>{{Controller[i]['marca']}}</td>
              </tr>
              <tr >
                <td><b>Numero Digitales:</b></td>
                  <td>{{Controller[i]['nroDigitales']}} Pines</td>  
              </tr>
              <tr >
                <td><b>Numero Analogicos:</b></td>
                  <td>{{Controller[i]['nroAnalogicos']}} Pines</td>  
              </tr>
              </tbody>
            </table>
          </nb-card-body>
        
        <nb-card-footer>
             <button class="btn btn-danger btn-tn btn-block" type="button" (click)="Eliminar(Controller[i]['id'])"> Eliminar </button>

              </nb-card-footer>
       </nb-card>
        </div>
        <div class="col-md-4 "> 
         
            <a href="#/admin/addControlador"><img src="assets/images/add.png"  class="add" ></a>
        </div>
      </div>