
  <div class="col-lg-12" [@fadeIn]>
  <h1> Reporte </h1>

  <br>

  <span align="center"><h2>Inernadero X</h2></span>
  <br>
<nb-card>
  <nb-card-header>
    <span align="center"><h5>Temperaturas Registradas</h5></span>
  </nb-card-header>
  <nb-card-body>
    <br>
<div class="btn-group  btn-group-full-width ">
            <div class="col-sm-4 form-group">
            <span align="center"><h5>Temp. <br>maxima:</h5><br>
            <h3>37[C°]</h3></span>
            </div>
          <div class="col-sm-4 form-group">
            <span align="center"><h5>Temp. <br>media:</h5><br>
            <h3>24[C°]</h3></span>
            </div>
          <div class="col-sm-4 form-group">
            <span align="center"><h5>Temp. <br>minima:</h5><br>
            <h3>10[C°]</h3></span>
          </div>
      </div>
  </nb-card-body>
  
</nb-card>
 <br>
<nb-card>
  <nb-card-header>
    <span align="center"><h5>Datos de Humedad Registrados</h5></span>
  </nb-card-header>
  <nb-card-body>
    <br>
<div class="btn-group  btn-group-full-width ">
            <div class="col-sm-4 form-group">
            <span align="center"><h5>Humedad. <br>maxima:</h5><br>
            <h3>37 %</h3></span>
            </div>
          <div class="col-sm-4 form-group">
            <span align="center"><h5>Humedad. <br>media:</h5><br>
            <h3>24 %</h3></span>
            </div>
          <div class="col-sm-4 form-group">
            <span align="center"><h5>Humedad. <br>minima:</h5><br>
            <h3>10 %</h3></span>
          </div>
      </div>
  </nb-card-body>
  
</nb-card>

<nb-card>
  <nb-card-header>
    <span align="center"><h4>Datos Tecnicos</h4></span>
  </nb-card-header>
  <nb-card-body>

    <table class="table table-striped">
    
      <tbody>
        <tr>
          <td><b>Numero de Bombas :</b></td>
          <td>2 Bomba(s)</td>
        </tr>
        <tr>
          <td><b>Numero de Ventiladores :</b></td>
          <td>2 Ventilador(es)</td>
        </tr>
        <tr>
          <td><b>Numero de Puertas :</b></td>
          <td>2 Puerta(s)</td>
        </tr>
        <tr>
          <td><b>Numero de Ventanas :</b></td>
          <td>2 Ventana(s)</td>
        </tr>
        <tr>
          <td><b>Numero de Sensores :</b></td>
          <td>2 Total</td>
        </tr>
        <tr>
          <td><b>-Sensores de Temperatura :</b></td>
          <td>2 Sensor(es)</td>
        </tr>
        <tr>
          <td><b>-Sensores de Humedad :</b></td>
          <td>2 Sensor(es)</td>
        </tr>
        <tr>
          <td><b>-Sensores de PH :</b></td>
          <td>2 Sensor(es)</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>

    <table class="table table-striped">
    <thead>
      <tr>
        <td><h3><b>Productos en el Invernadero</b></h3></td>
        <td><h3><b>Dias Restantes</b></h3></td>
      </tr>
    </thead>
      <tbody>
        <tr>
          <td>Lechuga Señorita</td>
          <td>30 Dia(s)</td>
        </tr>
        
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
 </div>

   