<ol class="breadcrumb">
  <li><a href="/#/Administrador/Cuentas/Usuarios">Control de Cuentas</a></li><b>/</b>
    <li><a href="/#/Administrador/Cuentas/Detalle">Detalles de Cuenta</a></li><b>/</b>
  <li>Detalles Invernadero</li>
  </ol>
<div class="col-md-12" [@fadeIn]>

  <div class="col-md-4 offset-md-4" >
  <nb-card>
    <nb-card-body>
      <nb-actions  size="large">
        <nb-action (click)="volver()">
          <i class="ion-arrow-left-a text-success"></i><span>Volver</span>
        </nb-action>
        <nb-action   (click)="editar()">
          <i class="ion-edit text-info"></i><span>Editar</span>
        </nb-action>
        <nb-action  (click)="eliminar()">
          <i class="ion-trash-a text-danger"></i><span>Eliminar</span>
        </nb-action>
        
      </nb-actions>

    </nb-card-body>

  </nb-card>
</div>

<div class="row">
  <div class="col-md-12" *ngIf="Controller.length==0">
     <nb-card>
      <nb-card-header>
             <span align="center"><h1>Informacion de el invernadero</h1></span>
      </nb-card-header>
            <nb-card-body>
              <div class="row">
              <div class="col-md-6">
               <div class="font-row font-main">
                <div class="header">
                  <div class="name bold">Departamento :</div>
                  <div class="variants">
                    <span class="font-w-regular">{{departamento}}</span>
                  </div>
                </div>
                <div class="header">
                  <div class="name bold">Provincia :</div>
                  <div class="variants">
                    <span class="font-w-regular">{{provincia}}</span>
                  </div>
                </div>

                <div class="header">
                  <div class="name bold">Ubicacion :</div>
                  <div class="variants">
                    <span class="font-w-regular">{{ubicacion}}</span>
                  </div>
                </div>

                <div class="header">
                  <div class="name bold">Temperatura Maxima:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{tempMax}} Cº</span>
                  </div>
                </div>
                 <div class="header">
                  <div class="name bold">Temperatura Media:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{tempMedia}} Cº</span>
                  </div>
                </div>
                 <div class="header">
                  <div class="name bold">Temperatura Minima:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{tempMin}} Cº</span>
                  </div>
                </div>
               <div class="header">
                  <div class="name bold">Tiempo Intermitencia:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{timeIntermitencia}}</span>
                  </div>
                </div>
                <div class="header">
                  <div class="name bold">Tiempo Pausa:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{tiempoPausa}}</span>
                  </div>
                </div>
                <div class="header">
                  <div class="name bold">Tiempo Motor:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{tiempoFuncionMotor}}</span>
                  </div>
                </div>
              </div> 
              </div>
              <div class="col-md-6">
                <div  class="alert alert-danger">

                <div class="row">
                  <div class="col-md-8">
                    <p class="lorem">
                       No hay ningun controlador Vinculado al Invernadero
                    </p>
                  </div>
                  <div class="col-md-4">
                      <button nbButton  shape="rectangle"  status="success" size="xsmall" fullWidth (click)="VincularControlador()">Añadir</button>
                  </div>
                </div>
              </div>
              </div>  
              </div>
            </nb-card-body>
          </nb-card>
  </div>

  <div class="col-md-12" *ngIf="Controller.length>0">
     <nb-card>
      <nb-card-header>
             <span align="center"><h1>Informacion de el invernadero</h1></span>
      </nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-md-6">
               <div class="font-row font-main">
                <div class="header">
                  <div class="name bold">Departamento :</div>
                  <div class="variants">
                    <span class="font-w-regular">{{departamento}}</span>
                  </div>
                </div>
                <div class="header">
                  <div class="name bold">Provincia :</div>
                  <div class="variants">
                    <span class="font-w-regular">{{provincia}}</span>
                  </div>
                </div>

                <div class="header">
                  <div class="name bold">Ubicacion :</div>
                  <div class="variants">
                    <span class="font-w-regular">{{ubicacion}}</span>
                  </div>
                </div>

                <div class="header">
                  <div class="name bold">Temperatura Maxima:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{tempMax}} Cº</span>
                  </div>
                </div>
                 <div class="header">
                  <div class="name bold">Temperatura Media:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{tempMedia}} Cº</span>
                  </div>
                </div>
                 <div class="header">
                  <div class="name bold">Temperatura Minima:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{tempMin}} Cº</span>
                  </div>
                </div>
               <div class="header">
                  <div class="name bold">Tiempo Intermitencia:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{timeIntermitencia}}</span>
                  </div>
                </div>
                <div class="header">
                  <div class="name bold">Tiempo Pausa:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{tiempoPausa}}</span>
                  </div>
                </div>
                <div class="header">
                  <div class="name bold">Tiempo Motor:</div>
                  <div class="variants">
                    <span class="font-w-regular">{{tiempoFuncionMotor}}</span>
                  </div>
                </div>
              </div> 
              </div>
                <div class="col-md-6 col-xxxl-4" >
                  
                    <nb-card class="list-card" size="small">
                    <nb-list>
                        <nb-list-item *ngFor="let n of Controller ; let i=index">
                          <nb-card class="alert alert-info">
                            <nb-card-body>
                              <nb-badge text="Desconectado" status="danger" position="top left" *ngIf="Controller[i]['connected']!='true'"></nb-badge> 
                              <nb-badge text="Conectado" status="success" position="top left" *ngIf="Controller[i]['connected']=='true'"></nb-badge> 
                                <div class="header attrib">
                                <div class="name bold">Modelo</div>
                                <div class="variants">
                            <span class="font-w-regular">{{Controller[i]['modeloC']}}</span>
                          </div>
                        </div>
                        <div class="header attrib">
                          <div class="name bold">Nro Pines:</div>
                          <div class="variants">
                            <span class="font-w-regular">{{Controller[i]['nroPines']}}</span>
                          </div>
                        </div>
                       
                    
                               <div class="btn-group  btn-group-full-width ">
                                     <button nbButton  shape="rectangle"  status="info" size="xsmall" fullWidth (click)="HabilitarPines(Controller[i]['id'])">Habilitar Pines</button>
                              <button nbButton  shape="rectangle"  status="danger" size="xsmall" fullWidth (click)="delete(Controller[i]['id'])">Eliminar</button>
            
                        
          </div>
                            </nb-card-body>
                          </nb-card>
                        </nb-list-item>      
                      </nb-list>
                    </nb-card>
                 
                </div>
              </div>
            </nb-card-body>
          </nb-card>
  </div>

</div>


</div>


<!-- Seccion de Controladores y Pines -->
<div class="col-lg-12" [@fadeIn]>
  <nb-card *ngIf="NumberControlador!=0&&Pines==0">
      <span align="center"><h1>:( No hay pines conectados </h1></span>
  </nb-card>

  <nb-card *ngIf="NumberControlador!=0&&Pines!=0">
      <nb-card-header>
        <span align="center"><h1>Actuadores y Sensores </h1></span>
        <span align="center"><h3>(Pines) </h3></span>
      </nb-card-header>
      <nb-card-body>
             <br>
          <h3 class="grid-h"></h3>
      
        <div *ngFor="let n of Devices;let i=index">
          
        
        <p>
          <button type="button" class="btn btn-outline-success btn-block" (click)="Controller[i]['usuarioId']= !Controller[i]['usuarioId']"
                  [attr.aria-expanded]="!Controller[i]['usuarioId']" aria-controls="collapseExample" >
            {{Controller[i]['modeloC']}}
          </button>
        </p>
        <div id="collapseExample" [ngbCollapse]="!Controller[i]['usuarioId']">
          <div class="card">
            <div class="card-body">

               <div class="row">

                 
               <div class="col-md-3" *ngFor="let n of Devices[i];let j=index">
                <span align=""></span>
                <nb-card>
                <nb-card-header><img  src="assets/images/devices/Pin.png" class="tn">
                </nb-card-header>
                <nb-card-body>

              <table class="table table-striped">
                  
                <tbody>
                  <tr >
                    <td><b>Nro Pin:</b></td>
                    <td>{{Devices[i][j]['nroPin']}}</td>
                  </tr>
                  <tr >
                    <td><b>Tipo Pin:</b></td>
                    <td>{{Devices[i][j]['tipoPin']}} </td>
                  </tr>
                  <tr >
                    <td><b>Estado:</b></td>
                        <td *ngIf="Devices[i][j]['estado']==true"><h6 class="text-success">Habilitado</h6> </td>
                        <td *ngIf="Devices[i][j]['estado']==false"><h6 class="text-danger">Desabilitado</h6></td>
                  </tr>
                  <tr >
                    <td><b>Descripcion:</b></td>
                      <td> <h5 > {{Devices[i][j]['descripcionPin']}}</h5> </td>
                  </tr>
                  <!--
                  <tr *ngIf="Devices[i][j]['sensorId']!='-1'">
                    <td colspan="2"><span align="center"><h4 class="text-primary"><b>Depende del Siguiente Sensor</b></h4></span></td>
                    <td></td>
                    
                  </tr>
                  
                  <tr *ngIf="Devices[i][j]['sensorId']!='-1'">         
                      <td> <span align="center"><h5 class="text-primary"> {{pinDepende}}</h5> </span></td>
                      <td><span align="center"> <h5 class="text-primary">{{descripcion}}</h5></span></td>

                  </tr>
                  -->
                  </tbody>
            </table>
 

                </nb-card-body>
              
              <nb-card-footer>
             <button class="btn btn-danger btn-tn btn-block" type="button" (click)="desPin(Devices[i][j]['id'],Devices[i][j]['descripcionPin'])"> Eliminar </button>

              </nb-card-footer>

             </nb-card>

           </div>
          

         
          
          </div>
           

          </div>
        </div>
</div>
</div>
      </nb-card-body>
    </nb-card>
</div> 