<div class="col-lg-12" [@fadeIn]>
    <nb-card>
      <nb-card-header><span align="center"><h1>Añadir Nuevo Producto</h1></span></nb-card-header>
      <nb-card-body>

       <form  #registerForm="ngForm" (ngSubmit)="addProd()" >
        
        <div class="form-group">
          <label>Nombre del Producto</label>
        <input type="text" name="nombreProducto" #nombreProducto="ngModel" [(ngModel)]="prod.nombreProducto" placeholder="Nombre" class="form-control" required/>
        </div>
          <div class="row full-name-inputs">
          <div class="col-sm-6 form-group">
          <label>Semanas</label>
          <input type="text" name="Semanas" #tiempoProduccion="ngModel" [(ngModel)]="Semanas" placeholder="Semanas" class="form-control" required/>
          </div>
          <div class="col-sm-6 form-group">
            <label>Dias</label>
            <input type="text" name="tempMinRecomendada"  #tempMinRecomendada="ngModel" [(ngModel)]="Dias" placeholder="Dias" class="form-control" required/>
          </div>
        </div>
  
         <br>
        <div class="row full-name-inputs">
          <div class="col-sm-6 form-group">
            <label>Temperatura Maxima Recomendada</label>
            <input type="text" name="tempMaxRecomendada" #tempMaxRecomendada="ngModel" [(ngModel)]="prod.tempMaxRecomendada" placeholder="Temperatura Maxima Recomendada " class="form-control" required />
          </div>
          <div class="col-sm-6 form-group">
            <label>Temperatura Minima Reomendada</label>
            <input type="text" name="tempMinRecomendada"  #tempMinRecomendada="ngModel" [(ngModel)]="prod.tempMinRecomendada" placeholder="Temperatura Minima Recomendada" class="form-control" required/>
          </div>
        </div>

         <div class="col-sm-4 offset-4 form-group">
           <label for="file" class="btn btn-info btn-block">SUBIR IMAGEN</label>
          <input type="file" id="file" hidden (change)="fileChangeEvent($event)">
          </div>
   
       
            <br>
		    <div class="col-md-12">
           <div class="btn-group  btn-group-full-width ">
            <input type="submit"  class="btn btn-success " value="Agregar" >
			     <input type="button" class="btn btn-danger " value="Cancelar" (click)="volver()">
                        
          </div>
      	</div>
        </form>
       
      </nb-card-body>
    </nb-card>

  </div>
