
<span align="center"><h1>Administracion de Cuentas</h1></span>
<hr>
<div class="col-md-12" [@fadeIn]>
	
 <h1 *ngIf="role=='root'&&hiddenAdmin=='true'">Administradores</h1>
  <div class="row" *ngIf="role=='root'">
     <div class="col-md-3" *ngFor="let n of Administradores ; let i=index">
    <nb-card>
  <nb-card-body style="position: relative">
    <nb-badge text="desconectado" status="danger" position="top right" *ngIf="Administradores[i]['conectado']=='false'"></nb-badge>
    <nb-badge text="Conectado" status="success" position="top right" *ngIf="Administradores[i]['conectado']=='true'"></nb-badge>
    
    <nb-user size="xlarge"
             name="{{Administradores[i]['nombre']}} {{Administradores[i]['ap_paterno']}} {{Administradores[i]['ap_materno']}} "
             title="{{Administradores[i]['correo']}}"
             picture="assets/images/admin.png">
    </nb-user>
  </nb-card-body>
</nb-card>

 <button class="BtnUser" nbButton  shape="rectangle"  status="primary" size="xsmall" fullWidth 
 (click)="DetalleUsuario(Administradores[i]['id'])">Ver Cuenta</button>

  </div>
  </div>

    <h1 *ngIf="hiddenTester=='true'">Testers</h1>
  <div class="row">
     <div class="col-md-3" *ngFor="let n of Testers ; let i=index">
    <nb-card>
  <nb-card-body style="position: relative">
    <nb-badge text="desconectado" status="danger" position="top right" *ngIf="Testers[i]['conectado']=='false'"></nb-badge>
    <nb-badge text="Conectado" status="success" position="top right" *ngIf="Testers[i]['conectado']=='true'"></nb-badge>
    <nb-user size="xlarge"
             name="{{Testers[i]['nombre']}} {{Testers[i]['ap_paterno']}} {{Testers[i]['ap_materno']}} "
             title="{{Testers[i]['correo']}}"
             picture="assets/images/user.png">
    </nb-user>
  </nb-card-body>
</nb-card>
 <button class="BtnUser" nbButton  shape="rectangle" status="primary" size="xsmall" fullWidth 
 (click)="DetalleUsuario(Testers[i]['id'])">Ver Cuenta</button>
  </div>
  </div>

    <h1 *ngIf="hiddenUser=='true'">Usuarios</h1>
  <div class="row">
     <div class="col-md-3" *ngFor="let n of Usuarios ; let i=index">
    <nb-card>
  <nb-card-body style="position: relative">
   <nb-badge text="desconectado" status="danger" position="top right" *ngIf="Usuarios[i]['conectado']=='false'"></nb-badge>
    <nb-badge text="Conectado" status="success" position="top right" *ngIf="Usuarios[i]['conectado']=='true'"></nb-badge>
    <nb-user size="xlarge"
             name="{{Usuarios[i]['nombre']}} {{Usuarios[i]['ap_paterno']}} {{Usuarios[i]['ap_materno']}} "
             title="{{Usuarios[i]['correo']}}"
             picture="assets/images/user.png">
    </nb-user>
  </nb-card-body>
</nb-card>
 <button class="BtnUser" nbButton  shape="rectangle" status="primary" size="xsmall" fullWidth 
 (click)="DetalleUsuario(Usuarios[i]['id'])">Ver Cuenta</button>
  </div>
  </div>
 

</div>