
    <!-- CODIGO NUEVO -->


<div class="container" *ngIf="autentification==false">
  <form [formGroup]="LoginForm" class="form-signin" (submit)="Autentificador($event)">       
      <h1 class="form-signin-heading">  <img src="assets/images/logo_page.png" ></h1>
      <input type="text" 
             class="form-control" 
             name="username" 
             placeholder="Correo Electronico" 
             required
             formControlName="CorreoCtrl" 
             autofocus=""
             [ngClass]="{'form-control-danger': LoginForm.controls['CorreoCtrl'].invalid && (LoginForm.controls['CorreoCtrl'].dirty || LoginForm.controls['CorreoCtrl'].touched)}" />

              <div *ngIf="LoginForm.controls['CorreoCtrl'].invalid && (LoginForm.controls['CorreoCtrl'].dirty || LoginForm.controls['CorreoCtrl'].touched)" class="alert alert-danger">

                <div *ngIf="LoginForm.controls['CorreoCtrl'].errors">
                      Introdusca un Correo Electronico
                </div>
              </div>
      <input type="password" 
             class="form-control"
             name="password" 
             placeholder="Contraseña" 
             required
             formControlName="PasswordCtrl"
            [ngClass]="{'form-control-danger': LoginForm.controls['PasswordCtrl'].invalid && (LoginForm.controls['PasswordCtrl'].dirty || LoginForm.controls['PasswordCtrl'].touched)}" /> 

              <div *ngIf="LoginForm.controls['PasswordCtrl'].invalid && (LoginForm.controls['PasswordCtrl'].dirty || LoginForm.controls['PasswordCtrl'].touched)" class="alert alert-danger">

                <div *ngIf="LoginForm.controls['PasswordCtrl'].errors">
                      Introdusca una contraseña
                </div>
              </div>
            <nb-alert status="danger" *ngIf="status=='denied'">
              Usuario y/o Contraseña Incorrectos
            </nb-alert>
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Conectarse</button>   
    </form>
  <p class="text-center sign-up"><strong>PATELECOM S.R.L.</strong> &copy; 2019 Todos los derechos reservados</p>
</div>
<div class="container" *ngIf="autentification==true">
  <form class="form-signin" >       
      <h1 class="form-signin-heading">  <img src="assets/images/logo_page.png" ></h1>
    </form>
    <span align="center"><h1 class="text-success">Te damos la Bienvenida<br> {{welcome}}</h1></span>


  <p class="text-center sign-up"><strong>PATELECOM S.R.L.</strong> &copy; 2019 Todos los derechos reservados</p>
</div>

