<span align="center"><h1>Horarios de Riego del Invernadero</h1></span>

<!--
<div [@fadeIn] *ngFor="let n of Controller ; let i=index">

  <h3 class="grid-h"><b>Controlador :</b>{{Controller[i]['marcaC']}}-{{Controller[i]['modeloC']}}</h3>
  <h3><b>Estado :</b><span class="text-success" *ngIf="Controller[i]['connected']==true">Conectado</span>
     <span class="text-danger" *ngIf="Controller[i]['connected']==false">Desconectado</span>
   </h3>
  <div class="row">

  <div class="col-md-6" *ngFor="let n of horario[i] ; let j=index">
    
    <nb-card >
      <nb-card-header>
        <span align="center"><h3>{{bombas[0][j]['descripcionPin']}}</h3></span>
      </nb-card-header>
      <nb-card-body>
    	<table class="table table-striped">
        <thead>
      	<tr>
      		<th> <b>Nro</b> </th>
      		<th><b> Hora</b> </th>
          <th><b> Duracion </b></th>
          <th><b> opcion </b></th>
      	</tr>
      </thead>
      <tbody>
      	<tr *ngFor="let n of horario[i][j]  ; let k=index">
      		<td>{{k+1}}</td>
      		<td> <h4>{{horario[i][j][k]['horaInicio']}} </h4></td>
          <td> <h6>{{horario[i][j][k]['duracion'].substring(3,5)}} Min.</h6></td>
          <td> <h1><i class="nb-trash btn-danger" style="border-radius: 8px" (click)="eliminarHorario(horario[i][j][k]['id'])"></i></h1></td>
      	</tr>
        </tbody>
      </table>
    </nb-card-body>
    <nb-card-footer>


  <p>
  <button type="button" class="btn btn-info btn-block" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="isCollapsed" aria-controls="collapseExample">
    Agregar Nueva Hora de Riego
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="!isCollapsed">
  <div class="card">
    <div class="card-body">
        <form (ngSubmit)="addHour($event,bombas[i][j]['id'],Controller[i]['uuid'])">
          <div class="col-md-8 offset-md-2">
            <label>Hora y Minuto</label>
           <div class="input-group full-width">
              <input type="text" class="form-control" placeholder="Hora">
              <div class="input-group-addon">:</div>
              <input type="text" class="form-control" placeholder="Minuto">
            </div>
        </div>
        <br>
          <div class="col-md-8 offset-md-2">
            <label>Duracion</label>
             <div class="input-group full-width">
              <input type="text" class="form-control" placeholder="Duracion">
              <input type="text" class="form-control" value="Minutos" disabled>
            
            </div>
          </div>
        <br>
         <div class="col-md-10 offset-md-1">
            <button type="submit" class="btn btn-success btn-md btn-block">Aceptar</button>
          </div>
        </form>

    </div>
  </div>
</div>


    </nb-card-footer>
 </nb-card>
  </div>

  </div>
</div>-->
<div class="row">

 <div class="col-md-6" *ngFor="let n of Horarios ; let j=index">
    
    <nb-card >
      <nb-card-header>
        <span align="center"><h3>Bomba {{i+1}}</h3></span>
      </nb-card-header>
      <nb-card-body>
    	<table class="table table-striped">
        <thead>
      	<tr>
      		<th> <b>Nro</b> </th>
      		<th><b> Hora</b> </th>
          <th><b> Duracion </b></th>
          <th><b> opcion </b></th>
      	</tr>
      </thead>
      <tbody>
      	<tr *ngFor="let n of horario ; let k=index">
      		<td>{{k+1}}</td>
      		<td> <h4>12:00 </h4></td>
          <td> <h6>5 min</h6></td>
          <td> <h1><i class="nb-trash btn-danger" style="border-radius: 8px" ></i></h1></td>
      	</tr>
        </tbody>
      </table>
    </nb-card-body>
    <nb-card-footer>


  <p>
  <button type="button" class="btn btn-info btn-block" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="isCollapsed" aria-controls="collapseExample">
    Agregar Nueva Hora de Riego
  </button>
</p>
<div id="collapseExample" [ngbCollapse]="!isCollapsed">
  <div class="card">
    <div class="card-body">
        <form >
          <div class="col-md-8 offset-md-2">
            <label>Hora y Minuto</label>
           <div class="input-group full-width">
              <input type="text" class="form-control" placeholder="Hora">
              <div class="input-group-addon">:</div>
              <input type="text" class="form-control" placeholder="Minuto">
            </div>
        </div>
        <br>
          <div class="col-md-8 offset-md-2">
            <label>Duracion</label>
             <div class="input-group full-width">
              <input type="text" class="form-control" placeholder="Duracion">
              <input type="text" class="form-control" value="Minutos" disabled>
            
            </div>
          </div>
        <br>
         <div class="col-md-10 offset-md-1">
            <button type="submit" class="btn btn-success btn-md btn-block">Aceptar</button>
          </div>
        </form>

    </div>
  </div>
</div>


    </nb-card-footer>
 </nb-card>
  </div>
  </div>