
<div class="col-lg-8 offset-md-2"  [@fadeIn]>
    <nb-card>
      <nb-card-header><span align="center"><h1>Agregar Nuevo Controlador</h1></span></nb-card-header>
      <nb-card-body>

      <form  (submit)="addControlador($event)">
      	<div class="row full-name-inputs">
        	<div class="col-sm-6 form-group">
        		<label>Modelo:</label>
          		<input type="text" name="ModeloC" placeholder="Modelo"  class="form-control"/>
            </div>
            <div class="col-sm-6 form-group">
            	<label>Marca:</label>
          		<input type="text" name="MarcaC" placeholder="Marca "  class="form-control"/>
            </div>
        </div>
            <br>
        <div class="row full-name-inputs">
          <div class="col-sm-6 form-group">
          	<label>Numero Pines Digitales:</label>
            <input type="text" name="NumeroDigitales" placeholder="Numero Pines Digitales  "  class="form-control" />
          </div><br>
          <div class="col-sm-6 form-group">
          	<label>Numero Pines Analogicos:</label>
            <input type="text" name="NumeroAnalogicos" placeholder="Numero Pines Analogicos"  class="form-control"/>
          </div><br>
        </div>
        <div class="col-md-6 offset-md-3">
         <form #imageForm=ngForm >

                  <label class="fileContainer">
                      <button  nbButton  shape="rectangle"  status="info" size="xsmall" fullWidth  >Subir Imagen</button>
                      <input  type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files,$event)">
                  </label>
                  <br>
                  <img [src]="imageUrl"  style="width:250px;height:200px">
                </form>
              </div>
        <br>
        <br>
            
        <div class="col-md-12">
           <div class="btn-group  btn-group-full-width ">
            <input type="submit"  class="btn btn-success " value="Agregar" [disabled]="Image.value=='' || !imageForm.valid">
           <input type="button" class="btn btn-danger " value="Cancelar" (click)="volver()">
                        
          </div>
        </div>
        
</form>
      </nb-card-body>
    </nb-card>

  </div>